select {
    padding: 10px;
    margin: 10px;
}

input {
    margin: 10px;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
