#workplaces {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#workplaces form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
